@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.point {
  li {
    position: relative;
  }

  li::after {
    content: "•";
    right: -12px;
    position: absolute;
  }

  li:last-child::after {
    content: "";
    position: absolute;
  }

  li:hover {
    color: #1e1e24;
  }
}